.questionnaire {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	// height: 80vh;

	&__title {
		margin-bottom: 1rem;
		font-weight: bold;
		font-size: 2.5rem;
	}

	&__container {
		width: 100%;
		max-width: 800px;
		// height: 60vh;
		border-radius: 1rem;
		background-color: #ffffff;
		border: 8px solid #2d343a;
		color: #000000;
		padding: 1rem;
		position: relative;
		padding: 1.5rem 3rem;
	}

	&__btn-container {
		display: flex;
		justify-content: space-between;
    margin-bottom: 1rem;
	}
	&__btn {
		// position: absolute;
		// bottom: 3rem;
		// &--first {
		//   left: 3rem;
		// }
		// &--last {
		//   right: 3rem;
		// }

		&--finish {
			// right: 3rem;
			background-color: #28a745;
		}
	}

	&__page {
		position: absolute;
		bottom: 1rem;
		margin-left: auto;
		margin-right: auto;
		left: 0;
		right: 0;
		text-align: center;
	}
}
